name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Flake8
        run: python -m pip install -U flake8
      - name: Lint with Flake8
        run: python -m flake8 . --count --select=E9,F7,F82 --show-source
