name: style

on:
  push:
    branches:
      - master

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install prerequisite
        run: pip install -U black
      - name: Run style
        run: black -l 99 `git ls-files "*.py"`
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: style with black
          title: Code style
          body: |
            Automated style check
          labels: automated pr
          branch: black
